 * {
   margin: 0;
   padding: 0;
 }

 body {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("Visceral_Star_Wars_Game_EA.0.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Muli', sans-serif;
   background-attachment: fixed;
 }
